{
  "extends": "airbnb",
  "root": true,
  "parser": "babel-eslint",
  "env": {
    "mocha": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "import/no-extraneous-dependencies": ["off"],
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": "return" }
    ]
  }
}
